<% layout("/layouts/boilerplate") -%>

    <div class="row">
        <div class="col-4 offset-3 mt-5">


            <p class="contact">Contact:</p>
            <div class="address">
                <P> Mobile No : &nbsp;
                    <a href="https://wa.me/message/INDNCECEYKRCE1" class="number">

                        <b>
                            <i class="fa-solid fa-phone fa-shake"></i>
                            +91 9927888318
                        </b>

                    </a>
                </P>

                <p> E-MAIL : &nbsp;
                    <b><i class="fa-regular fa-envelope fa-bounce"></i>
                        ht682181@gmail.com</b>
                </p>

                <p>Qutuppur &nbsp; Amarpur</p>
                <p>Near &nbsp; Kasimpur </p>

                <p>Aligarh-202001 &nbsp; Uttar Pradesh, India.</p>
            </div>
        </div>

    </div>