<% layout("/layouts/boilerplate") %>
<div class="row mt-4 offset-1">
    <div class="alert alert-danger col-6" role="alert" style="height: 50px;" >
 <p class="alert-heading"><%= message %></p>
</div>
</div>
