<% layout("/layouts/boilerplate") -%>


  <div class="row mt-3">
    <% for(let data of datas){ %>
      <div class="card col-lg-12 feed-card mx-auto mt-3">


        <div class="card-body">
          <p><b>Name:</b>
            <%= data.name %>
          </p>
          <p><b>Course:</b>
            <%=data.course %>
          </p>
          <p><b>Semister:</b>
            <%=data.semister %>
          </p>
          <p style="padding-left: 10px;"><B>Feed:</B>
            <%= data.content %>
          </p>
        </div>
      </div>


      <% }%>

  </div>