<% layout("/layouts/boilerplate") %>


<div class="img-container">
  <div class="img-box">

   
  <img src="/images/page1.jpg" class="img">
 <br>
 <div class="button text-center">
  <a href="#" class="btn btn-primary mt-2 col-5">Go back</a>
</div>

</div>
</div>
