<% layout("/layouts/boilerplate") -%>

   <div class="row">
      <div class="col-8 offset-2 mt-4">
         <h2 class="text-center">
            Create your account
         </h2>
         <form method="post" action="/signup" novalidate class="needs-validation" id="passwordForm">

            <div class="mb-3">
               <label for="name" class="form-label">Name</label>
               <input placeholder="Enter your name" name="data[name]" id="name" class="form-control" required>
               <div class="invalid-feedback">Enter the Name</div>
            </div>

            <div class="mb-3">
               <label for="course" class="form-label">Course</label>
               <input list="options" placeholder="Enter the course" name="data[course]" id="course" class="form-control"
                  required>
               <datalist id="options">
                  <option value="BCA">
                  <option value="BBA">
                  <option value="B.Tech">
                  <option value="MCA">
               </datalist>
               <div class="invalid-feedback">Enter Valid Course</div>
            </div>

            <div class="mb-3">
               <label for="semister" class="form-label">Semister</label>
               <input type="number" placeholder="Enter your semister" name="data[semister]" id="semister" list="option"
                  class="form-control" required>
               <datalist id="option">
                  <option value="1">
                  <option value="2">
                  <option value="3">
                  <option value="4">
                  <option value="5">
                  <option value="6">
                  <option value="7">
                  <option value="8">
               </datalist>
               <div class="invalid-feedback">Enter the valid semister</div>
            </div>

            <div class="mb-3">
               <label for="username" class="form-label">Username</label>
               <input type="text" placeholder=" Enter username (e.g., name72833)" name="data[username]"
                  class="form-control" required id="username">
              
               <p id="message"></p>
            </div>

            <div class="mb-3">
               <label for="password" class="form-label">Password</label>
               <input type="password"   id="password" placeholder="Create strong password" name="data[password]" 
                  class="form-control" required autocomplete="off">
             
            <div id="errorMsg"></div>
            </div>
            <button type="submit" class="btn btn-dark mt-3 mb-3">Sign in</button>
               </form>
      </div>
   </div>

   